body {background-color: aqua;}
Table {background-color : Orange;
border-bottom-color : Purple;
border-right-color : yellow;
border-left-color : violet;
border-top-color : Pink;
border-width : 20px;}
